[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
tflite-runtime = "*"
requests = "*"
keras-image-helper = "*"

[dev-packages]

[requires]
python_version = "3.8"
